body {
  
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    color: white;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #container {
    width: 500px;
    height: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
    flex: 1;
  }
  .cell {
  
    flex: 1;
    
  }